

nav{

    display: flex;
    justify-content: space-around;
    background-color: black;
    color: aliceblue;

}

nav h2{
    margin-left: 50px;
}

.nav_list{
    display: flex;
    justify-content: right;
    width: 100%;
    list-style: none;
    cursor: pointer;
    gap: 50px;
    text-decoration: none;
    margin-right: 50px;
}
